body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: Arial;
   background: #72eee3;
   overflow: hidden;
}
a {
   color: #027378;
}
a:hover {
   text-decoration: none;
   color: #000;
}
html {
   height: 100%;
}
#container {
}
#header {
   display: block;
}
#header #logo {
   margin: 0;
   padding: 0;
   background-image: url(../img/rocket-2.png);
   background-position: 320px 23px;
   background-repeat: no-repeat;
}
#header #logo a {
   width: 185px;
   height: 120px;
   margin-left: 1em;
   color: #FFF;
   display: inline-block;
   font-family: Oyster;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 48px;
   font-weight: normal;
   background-image: url(../img/webrocket-logo.png);
   background-position: left center;
   background-repeat: no-repeat;
   background-size: 185px 80px;
   text-indent: -9999px;
}
#header #logo .section {
   font-size: 48px;
   color: #111;
   font-family: Oyster;
   text-transform: uppercase;
   font-weight: normal;
   display: inline-block;
   padding-top: 28px;
   position: absolute;
}
#tour .step-wrapper {
   float: right;
   margin-top: 1px;
   margin-left: 1px;
   height: 74px;
   color: #BBB;
   font-family: Oyster;
}
#tour .step {
   font-size: 1.5em;
   text-align: right;
   padding: 32px 28px 0 0;
}
#tour .step .current {
   font-size: 2.5em;
   color: #027378;
}
#tour article {
   box-shadow: -2px 2px 2px rgba(0,0,0,.08);
   border: 1px solid #52beb3;
   border-right: 0;
   background: #FFF;
   position: absolute;
   right: 50%;
   top: 120px;
   bottom: 3em;
   left: 3em;
   display: block;
   line-height: 1.4em;
   color: #444;
}
#tour article .text {
   padding: 1.5em 2em 2em;
   font-size: .9em;
}
#tour article h2 {
   margin-left: -28px;
   padding-top: 0;
   padding-left: 28px;
   margin-top: .3em;
   font-size: 3.5em;
   font-weight: normal;
   border-bottom: 1px solid #777;
   padding-bottom: .4em;
   margin-bottom: .6em;
   color: #444;
   font-family: Oyster;
}
#tour article #nav {
   position: absolute;
   bottom: 1px;
   left: 1px;
   right: 1px;
   list-style-type: none;
   margin: 0;
   background: #e2fff3;
   padding: .6em 1.8em .8em 1.8em;
}
#tour article #nav a {
   text-decoration: none;
   color: #EEE;
   background: #444;
   display: inline-block;
   padding: 4px 12px;
   box-shadow: 3px 3px 0 rgba(0,0,0,.2);
   font-size: .8em;
   font-weight: bold;
   text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
#tour article #nav a:hover {
   color: #FFF;
   background: #222;
}
#tour article #nav a:active {
   text-shadow: -1px -1px 1px rgba(255,255,255,.1);
   position: relative;
   top: 2px;
   right: -2px;
   background: #000;
   color: #888;
   box-shadow: 1px 1px 0 rgba(0,0,0,.3);
}
#tour article #nav li:first-child {
   float: right;
}
#tour article #nav li:last-child {
   float: left;
}
#tour .CodeMirror-scroll {
   border-left: 8px solid rgba(0,0,0,.2);
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 50%;
   background: #272822;
   display: block;
   padding: 0;
   overflow: hidden;
   overflow-y: scroll;
   font-size: 16px;
}
#tour aside pre {
   line-height: 1.1em;
   font-family: 'Ubuntu Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monospace, 'Courier New', Courier;
}
#tour .CodeMirror-scroll {
   height: auto;
   overflow: scroll
   overflow-x: hidden;
}
#steps, #sources {
   display: none;
}
.clearfix {
   clear: both;
}
code {
   background: #f2fffc;
   color: #027378;
   padding: 2px;
}